/* Mobile */

header {
    background-color: #0b1c51;
    margin-bottom: 40px;
}

header h1 {
    font-size: 52;
    text-align: center;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul li a {
    font-family: 'Montserrat';
}

/* Desktop */

